/* border radius */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0
}


/* product image on card */

.product-img {
    min-height: 100px
}

.jumbotron {
    text-align: center
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 20px; 
    }
}

/* jumbotron animation */

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    text-align: "center";
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}